
/*#172d33*/
/*#294952*/

/*#271525*/
/*#543450*/

/*Turqouise #114B5F*/
/*light background #4f4654*/
/*soft purple #41324a*/

:root {
    --backbackground: #28252A;
    --background: #41324a;
    --headings: #9FD356;
    --subHeadings: #E3F2FD;
    --highlighted: #E3F2FD;
    --text: #E3F2FD;
    --primary: #41324a;
    --secondary: #28252A;
    --accent: #9FD356;
    --text-light: #E3F2FD;
    --darkpurple: #2E0219;
    --purple: #8045a3;
}

/* General Reset */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('BackgroundNew.png') no-repeat center center / cover;
    background-color: var(--secondary);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--text-light);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: left;
    padding: 20px 20px 0px 20px;
    background-color: var(--secondary);
}

/**/
/*Navigator*/
/**/
nav {
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    nav button {
        overflow: hidden;
        background-color: var(--primary);
        height: 60px;
        padding: 0px 10px;
        background-color: inherit;
        color: var(--text-light);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        stroke: var(--text-light);
        fill: var(--text-light);
    }

        nav button:hover {
            background-color: var(--text-light);
            color: var(--secondary);
            stroke: var(--secondary);
            fill: var(--secondary);
        }

    nav .selected button {
        background-color: var(--secondary);
        color: var(--text-light);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        height: 60px;
        transition: 0.3s;
        font-size: 17px;
    }

        nav .selected button:hover {
            background-color: var(--secondary);
            color: var(--text-light);
        }

    nav #logo button {
        padding: 0px 0px 3px 0px;
    }

    nav #logo img {
        max-width: 75px;
        max-height: 75px;
    }

nav1 {
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    nav1 button {
        overflow: hidden;
        background-color: var(--primary);
        padding: 14px 10px;
        color: var(--text-light);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        stroke: var(--text-light);
        fill: var(--text-light);
        border-radius: 10px 10px 10px 10px;
    }

        nav1 button:hover {
            background-color: var(--text-light);
            color: var(--secondary);
            stroke: var(--secondary);
            fill: var(--secondary);
        }

    nav1 .selected button {
        background-color: var(--secondary);
        color: var(--text-light);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 10px;
        transition: 0.3s;
        font-size: 17px;
        box-shadow: var(--primary) 0px 5px;
    }

        nav1 .selected button:hover {
            background-color: var(--secondary);
            color: var(--text-light);
        }

    nav1 #logo button {
        padding: 0px 0px 3px 0px;
        border-radius: 10px 10px 10px 10px;
    }

    nav1 #logo img {
        max-width: 75px;
        max-height: 75px;
    }

/**/
/*Standard Definitons*/
/**/

.button {
    background-color: var(--accent);
    color: var(--secondary);
    float: left;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    transition: 0.3s;
    font-size: 17px;
}

    .button:hover {
        background-color: var(--text-light);
        color: var(--background);
    }

h1 {
    color: var(--accent);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

h2 {
    color: var(--text-light);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 14px;
}

h3 {
    color: var(--accent);
    border-bottom: solid;
    margin-bottom: 0px;
}

h4 {
    color: var(--text-light);
    margin: -10px 0px -10px 0px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 50px;
}

h5 {
    color: var(--accent);
    margin: -10px 0px -10px 0px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 50px;
    text-shadow: -2px -2px 0 var(--backbackground), 2px -2px 0 var(--backbackground), -2px 2px 0 var(--backbackground), 2px 2px 0 var(--backbackground);
}

p {
    color: var(--text-light);
}

a {
    color: var(--text-light);
    text-decoration: none;
}

    a:hover {
        color: var(--secondary);
    }

/**/
/*Footer and everything that goes with it*/
/**/
#page {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    margin: 0px 20px 0px 20px;
}

.contactButton {
    color: var(--text-light);
    align-content: center;
    text-decoration: none;
    float: right;
}

    .contactButton button {
        background-color: var(--background);
        color: var(--text-light);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 10px;
        transition: 0.3s;
        font-size: 17px;
    }

#content {
    min-height: 900px;
    overflow:hidden;
}

footer {
    padding: 1rem 0px 1rem 0px;
    width: 100%;
    background-color: var(--background);
    border-radius: 10px;
    height: fit-content;
    margin: 0px 0px 2rem 0px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-content: center;
    justify-content: space-between;
}

#socialMedia {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 50%;
}

    #socialMedia img {
        width: 70px;
        object-position: center;
        transition: transform 0.1s ease-in-out;
        filter: brightness(0) invert(1);
    }

        #socialMedia img:hover {
            transform: scale(1.1);
            object-position: center;
        }

.contactBlock {
    min-height: 100px;
    width: 35%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url('Email.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

    .contactBlock a {
        background-color: var(--accent);
        color: var(--secondary);
        padding: 10px;
        border-radius: 5px;
    }

/**/
/*Media Queries*/
/**/
@media screen and (max-width: 768px) {
    nav button {
        height: 80px;
    }

    nav .selected button {
        height: 80px;
    }

    #socialMedia {
        width: 85%;
    }

    .contactBlock {
        width: 100%;
    }

    #socialMedia img {
        width: 45px;
    }
}

