/*img {
    width: 600px;
    padding: 10px, 10px, 10px, 10px;
    color: var(--highlighted);
    align-content: center;
}*/

nav button:hover line {
    stroke: var(--secondary);
    fill: var(--secondary);
}

nav button:hover polygon {
    stroke: var(--secondary);
    fill: var(--secondary);
}

/**/
/**/
/**/
.contentField {
    background-color: var(--background);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 0px 20px;
}

#centered {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pictureField {
    margin: 20px auto 20px auto;
    width: 40%;
}


#AlternateCentered {
    display: flex;
    justify-content: center;
    align-content: center
}

div2 {
    max-height: 700px;
    max-width: 1000px
}

video {
    align-content: center;
}

#WebsiteHeading {
    margin-top: 30px;
}

@media screen and (max-width: 1500px) {
    #WebsiteHeading {
        background-color: var(--backbackground);
        border-radius: 10px;
        box-shadow: 0px 0px 7px 15px var(--backbackground);
    }
}

#multiplePictures {
    width: 55%;
}

#multiplePictures img{
    height: 200px;
    margin: 0px -90px 0px -90px;
    object-fit: contain;
}

/**/
/*pictures*/
/**/
.image {
    width: 600px;
    padding: 10px, 10px, 10px, 10px;
    color: var(--highlighted);
}

.Pictures {
}

.Pictures div {
    display:flex;
    flex-wrap: wrap;
}

.Pictures img {
    max-height:400px;
    max-width:400px;
    object-fit: contain;
}

.Pictures h5 {
    width: 100%;
    margin-bottom: 30px;
}

/**/
/*Procedural Dungeon Generation*/
/**/

#graphPic {
    float: right;
    width: 300px;
    height: 300px;
}

#generationPic {
    width: 550px;
    height: 300px;
    object-fit: cover;
}

/**/
/*Abduction in Lab 42*/
/**/

#posterVR {
    margin: 0px 50px 20px 20px;
    float: left;
    height: 500px;
    object-fit: contain;
}

#videoField {
    float: left;
    background-color: var(--background);
    height: auto;
    padding: 0px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 60px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

    #videoField video {
        margin-top: -80px;
    }

    #videoField h1 {
        margin-top: -25px;
    }

    #videoField iframe {
        margin-top: -20px;
    }

/**/
/*Art*/
/**/

.PictureCollection {
    padding: 0px 15% 0px 15%;
}

#ArtPreview {
    height: 200px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    object-fit: cover;
}

#ArtFull {
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}

#ArtFullContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    background-color: var(--background);
    background-blend-mode: darken;
    justify-content: center;
    align-content: center;
    visibility: hidden;
    z-index: 100;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
    pointer-events: none;
    overflow: hidden;
}

#ArtFullContainer:hover {
    visibility: visible;
}

#ArtPreview:hover + #ArtFullContainer {
    visibility: visible;
}

#Navigation {
    position: fixed;
    height: 100%;
    margin-left: 100%;
    transform: translate(-125%, 0%);
    z-index: 50;
}

    #Navigation div {
        margin: 5% 0px 100% 0px;
        background-color: var(--text);
        padding: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    #Navigation a {
        color: var(--backbackground);
    }

/**/
/*Usability*/
/**/

#usabilityPictures {
    height: 400px;
    margin: 20px;
    max-width: 80%;
    object-fit: contain;
}

/**/
/*Media adjustments*/
/**/
@media screen and (max-width: 768px) {
    .image {
        width: 300px;
        padding: 10px, 10px, 10px, 10px;
    }

    #graphPic {
        width: 100%;
        height: auto;
    }

    #generationPic {
        width: 300px;
        object-fit: cover;
    }

}