/*img {
    width: 600px;
    padding: 10px, 10px, 10px, 10px;
    color: var(--highlighted);
    align-content: center;
}*/

/**/
/*Navigator*/
/**/
nav button:hover line {
    stroke: var(--secondary);
    fill: var(--secondary);
}

nav button:hover polygon {
    stroke: var(--secondary);
    fill: var(--secondary);
}

.portfolioIcon {
    padding: 10px 15px 5px 15px;
}

.portfolioIcon img {
    max-height: 30px;
    filter: brightness(0) invert(1);
}

.portfolioIcon:hover img {
    filter: brightness(0) saturate(60%) invert(40%) sepia(90%) hue-rotate(240deg) saturate(200%) brightness(30%);
}

/**/
/*General*/
/**/
.contentField {
    background-color: var(--background);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 0px 20px;
}

#centered {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pictureField {
    margin: 20px auto 20px auto;
    width: 40%;
}

#WebsiteHeading {
    margin-top: 30px;
}

#videoField {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    margin-bottom: 50px;
}

    #videoField video {
        width: 640px;
        height: 360px;
        background-color: var(--background);
        border-radius: 10px;
        padding: 30px 20px 20px 20px;
        position: relative;
        z-index: 2;
    }

    #videoField h1 {
        position: absolute;
        margin: -25px 0px 0px 20px;
        z-index: 3;
    }

    #videoField iframe {
        width: 640px;
        height: 360px;
        background-color: var(--background);
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
    }

.image {
    max-height: 300px;
    max-width: 600px;
    padding: 10px, 10px, 10px, 10px;
    color: var(--highlighted);
    object-fit: contain;
}

#manyPictures {
    max-width: 500px;
}

/**/
/*Procedural Dungeon Generation*/
/**/

#graphPic {
    float: right;
    width: 300px;
    height: 300px;
}

#generationPic {
    width: 550px;
    height: 300px;
    object-fit: cover;
}

/**/
/*Abduction in Lab 42*/
/**/

#posterVR {
    margin: 0px 50px 20px 20px;
    float: left;
    height: 500px;
    object-fit: contain;
}

/**/
/*Lowpoly Animation*/
/**/

#headingPic {
    max-height: 600px;
    max-width: 100%;
}

/**/
/*Art*/
/**/

.PictureCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 15% 0px 15%;
}

#ArtPreview {
    height: 200px;
    width: 200px;
    padding: 10px;
    object-fit: cover;
}

#ArtFull {
    min-width: 100%;
    min-height: 100%;
}

#ArtFullContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    background-color: var(--primary);
    background-blend-mode: darken;
    justify-content: center;
    align-content: center;
    visibility: hidden;
    z-index: 100;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
    pointer-events: none;
    overflow: hidden;
}

#ArtFullContainer:hover {
    visibility: visible;
}

#ArtPreview:hover + #ArtFullContainer {
    visibility: visible;
}

#Navigation {
    position: fixed;
    height: 100%;
    margin-left: 100%;
    transform: translate(-125%, 0%);
    z-index: 50;
}

    #Navigation div {
        margin: 5% 0px 100% 0px;
        background-color: var(--primary);
        padding: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    #Navigation a {
        color: var(--text-light);
    }

.Pictures img {
    max-height: 400px;
    max-width: 400px;
    object-fit: contain;
}

/**/
/*Usability*/
/**/

#usabilityPictures {
    max-height: 400px;
    max-width: 80%;
    object-fit: contain;
}

#usabilityOverlay {
    max-height: 300px;
    float: left;
    margin: 0px 20px 21px 20px;
}

#usabilityAfterOverlay {
    clear: both;
}

/**/
/*Media adjustments*/
/**/
@media screen and (max-width: 768px) {
    .image {
        width: 300px;
        padding: 10px, 10px, 10px, 10px;
    }

    #graphPic {
        width: 100%;
        height: auto;
    }

    #generationPic {
        width: 300px;
        object-fit: cover;
    }

    #videoField video {
        width: 240px;
        height: 135px;
    }

    #videoField iframe {
        width: 320px;
        height: 180px;
    }

    /*VR*/
    #posterVR {
        margin: 0px 0px 20px 0px;
        float: none;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    /*Art*/
    .PictureCollection {
        justify-content: center;
    }
}

@media screen and (max-width: 1500px) {
    #WebsiteHeading {
        background-color: var(--backbackground);
        border-radius: 10px;
        box-shadow: 0px 0px 7px 15px var(--backbackground);
    }
}